@import'../../styles/variables.scss';

.card{
    height: 15em;
    width: 15em;
    background-color: $Grey;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
    }
}