@import'../../styles/variables.scss';


.card{
    height: 15em;
    width: 15em;
    margin: 1em 0em;
    background-color: $DBlue;
    opacity: 95%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .55s all ease-out;

    img{
        width: 12em;
        height: 12em;
        border-radius: 1em;
        align-self: center;
        transition: .55s all ease-out;
        
        &:hover{
            height: 13em;
            width: 13em;
        }
    }

    section{
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        display: none;
        
        
        h3{
            animation: fadeInOut .75s cubic-bezier(.39, -1.05, 0.58, 1.95);

            font-size: 1.5em;
            text-align: right;
            color: $Yellow;
        }

        p{
            animation: fadeInOut 1.25s cubic-bezier(.39, -1.05, 0.58, 1.95);

            text-align: right;
            color: $White;
        }
    }

    &:hover{
        width: 100%;
        justify-content: space-evenly;

        section{
            display: block;
        }
    }
}