@import'../../styles/variables.scss';

.container{
    height: 100vh;
    width: 25%;
    background-color: $DBlue;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card{
    margin: 3em $margin 0em 0em;
    display: flex;
    flex-direction: column;

    img{
        align-self: flex-end;
        width: 15em;
        clip-path: circle(40% at 45% 50%);
    }
    h2{
        margin-bottom: .5em;
        font-size: 40px;
        color: $Yellow  ;
        text-align: right;
    }
    p{  
        margin: 0em 0em 0em $margin;
        font-weight: 600;
        text-align: right;
        align-self: flex-end;
    }
}

.buttons{
    height: 9em;
    margin: 0em $margin 0em 0em;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a{
        font-size: .9em;
        text-decoration: none;
        font-weight: 600;
        color: $White;
        padding: 0.5em 1em;
        border: 3px solid $Yellow;
        cursor: pointer;
        background-color: transparent;
        align-self: flex-end;
    }
}

.icons{
    width: 50%;
    margin-bottom: 2em;

    align-self: center;
    display: flex;
    justify-content: space-between;
    
    .svg{
        cursor: pointer;
    }
}