@import'../../styles/variables.scss';

.container {
    height: 100vh;
    width: 25%;
    background-color: $DBlue;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card,
.buttons {
    margin-right: $margin;
}

.card {
    display: flex;
    flex-direction: column;

    img {
        width: 70%;
        clip-path: circle(42% at 50% 50%);
        align-self: flex-end;
    }

    h2 {
        padding-top: 0em;
        margin-bottom: 1vh;
        font-size: 2.5em;
        color: $Yellow;
        text-align: right;
    }

    p {
        width: 75%;
        margin-top: 0em;
        font-weight: 600;
        text-align: right;
        align-self: flex-end;
    }
}

.buttons {
    height: 20vh;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;

    a {
        text-decoration: none;
        font-weight: 600;
        color: $White;
        padding: 0.5em 1em;
        border: 3px solid $Yellow;
        cursor: pointer;
        background-color: transparent;
        align-self: flex-end;
    }
}

.icons {
    width: 50%;

    display: flex;
    align-self: center;
    justify-content: space-between;
}

@media screen and (max-width: 1440px) {

    .card,
    .buttons {
        margin-right: 2em;
    }

    .card {
        margin-top: 1vh;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: .8em;
        }
    }

    .buttons {
        height: 10em;

        a {
            font-size: 80%;
        }
    }

    .icons {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .card {
        margin-right: 1em;
    }
}

@media screen and (max-width: 860px) {
    .container {
        position: relative;
        padding: 0em;
        height: fit-content;
        width: 100%;

        flex-direction: row;
        justify-content: space-evenly;

    }

    .card {
        width: 30%;
        margin: 0em;
        padding-bottom: 1em;
        
        img, h2, p {
            align-self: center;
        }
        
        h2,
        p {
            width: 100%;
            text-align: center;
        }
        
        img{
            width: 85%;
        }
        
        h2{
            font-size: 25px;
            margin: 0em;
        }

        p{
            margin-top: 1em;
        }
    }
    
    .buttons {
        width: fit-content;
        margin-right: 0em;
        height: auto;
        justify-content: space-evenly;

    }

    .icons {
        width: fit-content;
        height: 18em;
        flex-direction: column;
        justify-content: space-around;
    }
}