@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

$margin: 3em;

//Colors

$White: #EEEEEE;
$Grey: #636D7D;
$LGrey: #7c8799;
$DBlue: #222831;
$Yellow: #FFD369;

//Mixins

@mixin margin {
    padding: 3em 7em;
    @media screen and ( max-width: 1050px){
        padding: 3em 4.5em;
    }
    @media screen and ( max-width: 440px){
        padding: 3em;
    }
}

@mixin img ($url) {
    min-height: calc(100vh - 6em);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url($url);
}

@mixin content ($height) {
    min-height: $height;
    background-color: $Grey;
    box-shadow: 0 0 20px #333;
    z-index: 1;
}

//KeyFrames

@keyframes fadeInOut {

    0% {
        opacity: 0;
        transition: scale3d(.5,.5,1);
    }

    75% {
        opacity: 0;
        transition: scale3d(.75,.75,1);
    }

    100% {
        opacity: 1;
        transition: scale3d(1,1,1);
    }
}