@use '../../styles/variables.scss';

main{
    background: linear-gradient(180deg, #636D7D 0%, #7c8799 90%);
    min-height: fit-content;
    background-color: #636D7D;
    box-shadow: 0 0 20px #333;
    z-index: 1;
    padding: 3em 7em;
    @media screen and ( max-width: 1050px){
        padding: 3em 4.5em;
    }
    @media screen and ( max-width: 440px){
        padding: 3em;
    }
}

.about {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        font-size: 1.4em;
        text-align: center;
        width: 75%;
        align-self: center
    }
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3em 0em;

    .bars {
        width: 75%;
        margin-top: 1em;
        align-self: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .bar {
            z-index: 4;
            position: relative;
            color: #222831;
            height: 3em;
            margin-bottom: calc(1em + 6px);
            border: 3px solid #222831;
            display: flex;


            p {
                font-weight: 800;
                z-index: 4;
                width: fit-content;
                margin: .6em;
                align-self: center;
            }

            .progress {
                z-index: -1;
                height: 3em;
                background-color: #FFD369;
            }
        }
    }

    $menu-items:
        (html, 80%),
        (css, 90%),
        (js 75%),
        (ndjs, 65%),
        (react, 70%);

    @each $id, $width in $menu-items {

        @keyframes width-#{$id} {
            0% {
                width: 0%;
            }

            100% {
                width: $width;
            }
        }

        .#{$id} {
            @extend .bar;

            .progress {
                width: $width;
                animation: width-#{$id} 1.2s ease-out forwards;
            }
        }
    }
}

@media screen and (max-width: 1050px){

    .about{
        p{
            width: 100%;
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 600px){

    
    .skills{
        
        .bars {
            width: 95%;
        }
    }
}