@import'.././styles/variables.scss';

@mixin content ($height) {
    min-height: $height;
    background-color: $Grey;
}

.container {
    margin-left: 25%;
    width: 100%;

    .main,
    .img2,
    .contact {
        padding: 3em 7em;
    }

    .main {
        @include content(120vh);
        background: linear-gradient(180deg, $Grey 0%, $LGrey 90%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .about {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h2 {
                text-align: center;
                padding: 1em 0em;
            }

            p {
                font-size: 1.4em;
                text-align: center;
                width: 70%;
                align-self: center
            }
        }

        .skills {}
    }

    .img2 {
        @include img('../images/pexels-fernando-dos-santos-campos-2510245.jpg');
        opacity: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;

    }

    .contact {
        background: linear-gradient(180deg, $LGrey 0%, $Grey 90%);
        @include content( fit-content );
        padding-bottom: 6em;
    }
}